[Unit]
Description=HTTP Gateway

[Service]
ExecStart=docker run --rm \
                     --attach=stdout \
                     --attach=stderr \
                     --name=gateway \
                     --network=akdev0 \
                     -p 80:80 \
                     -v /etc/httpd/conf.d:/etc/httpd/conf.d \
                     gateway-server
                     
                       
